$wite: #FFFFFF;
$black: #000000;
$background: #0F0F12;
$background2: #18181D;
$yellow: #FFD47C;
$yellow_hover: #F2AA16;
$dots: #C4C4C4;
$dots_active: #F2C362;
$table: #282317;
$table2: #131317;
$table3: #18181A;
$gray: #B5B5B5;
$footer: #464646;
$hover_svg: #15151A;
$green: linear-gradient(180deg, #2BE690 0%, #0B9857 100%);
$green_hover: linear-gradient(180deg, #2AF095 0%, #0CF58A 100%);
$menu: linear-gradient(360deg, #20190C 0%, rgba(0, 0, 0, 0) 100%);